* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.header__card {
    display: flex;
    align-items: center;
    width: 285px;
    height: 60px;
    background-color: #F3F6F9;
    margin-right: 5px;
    border-radius: 4px 4px 0px 0px;
    padding: 0 20px;
    cursor: pointer;
}

#myAccount__link {
    background-color: #fff;
}

.header__span {
    font-size: 1.4em;
    border-radius: 4px;
    background-color: #152540;
    width: 35px;
    height: 35px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.myAccount {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.section__img-container {
    width: 15%;
    text-align: end;
}

.section__img-container img {
    width: 55%;
    border-radius: 50%;
}

#form {
    width: 65%;
}

.form__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}

label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #464E5F;
    margin-left: 5px;
}

#firstName,
#lastName,
#secEmail,
#secPassword,
#setEmail {
    width: 90%;
    height: 44px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color: #F3F6F9;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #464E5F;
    margin-top: 5px;
    margin-bottom: 30px;
}

.phone__email,
.new__passwords {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.phone,
.email,
.newPassword,
.confPassword {
    width: 48%;
}

#phone,
#email,
#new,
#conf {
    width: 100%;
    height: 44px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color: #F3F6F9;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #464E5F;
    margin-top: 5px;
}

.form__line {
    margin: 35px 0;
    background-color: rgba(236, 240, 243, 1);
    width: 90%;
    height: 1px;
}

.btn__container {
    width: 90%;
    text-align: end;
}

#btn,
#secBtn,
#setBtn {
    background-color: #152540;
    border-radius: 4px;
    border: none;
    color: #fff;
    padding: 10px 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
}

#btn:hover,
#secBtn:hover,
#setBtn:hover {
    background-color: #1263eb;
}


/* security */

#security__form {
    width: 70%;
    margin: auto;
}

#settings {
    width: 70%;
    margin: auto;
}

.radioBtn {
    width: 60px;
    height: 30px;
    background-color: #F3F6F9;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ball {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: red;
    transform: scale(.8);
    transition: .4s linear;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    cursor: e-resize;
}

.active {
    left: 30px;
    cursor: w-resize;
    background-color: #3699FF;
}

.hide {
    display: none;
}