* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */


/* header */

header {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    width: 100%;
    height: 80px;
    background-color: #d1d1d1;
    align-items: center;
    padding: 0 50px;
    border-bottom: groove;
}

.header__title {
    font-family: 'Rotterburg Stylish FREE';
    font-style: normal;
    font-family: 'Amatic SC', cursive;
    color: var(--title);
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;
    color: var(--white);
    margin-right: 40px;
    opacity: .5;
    text-decoration: none;
}

nav ul li a:hover,
button:hover {
    opacity: 1;
}

.profile__container {
    display: flex;
    justify-content: end;
    align-items: center;
}

#profile__img {
    border-radius: 50%;
    width: 50px;
    cursor: pointer;
}

.fa-solid.fa-angle-down {
    color: rgba(14, 14, 14, 0.5);
    margin-left: 10px;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 150px;
}

.img__container {
    width: 40%;
    text-align: center;
}

.title {
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
    margin: 20px 0 30px 0;
}

#upload {
    width: 50%;
    background: #152540;
    border-radius: 99px;
    color: #fff;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    border: none;
}

.inputs__container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs__title {
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 51px;
    color: #000000;
    margin-bottom: 4%;
}

#form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #AAAAAA;
    height: 46px;
    border: 1px solid #B4B4BB;
    border-radius: 10px;
    padding: 10px 25px;
    margin-bottom: 10%;
}

#submit {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    background: #152540;
    border-radius: 99px;
    border: none;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    cursor: pointer;
}

#submit:hover {
    background-color: #171f2b;
}